/Files/gen 4 scripts/todo.txt
/Files/gen 4 scripts/structures.txt
/Files/gen 4 scripts/opcode_converter
/Files/gen 4 scripts/dump_test.txt
/Files/gen 4 scripts/ascii_converter.py
/Files/gen 4 scripts/ACE.dump_test
dump_test.txt
Files/gen 4 scripts/lua scripts/Desmume/.vs
Files/gen 4 scripts/mapchainer/__pycache__
Files/gen 4 scripts/lua scripts/Desmume/grasp (wip)
Files/gen 4 scripts/mapchainer/map/__pycache__
Files/gen 4 scripts/lua scripts/Desmume/earlypoketch.dsm
Files/gen 4 scripts/lua scripts/Desmume/test_aslr.dsm
Files/gen 4 scripts/lua scripts/Desmume/ultimateRNG_ex (1).lua
Files/gen 4 scripts/ASE/condition_data_converter.py
Files/gen 4 scripts/ASE/necessary_pokemon.txt
Files/gen 4 scripts/chunk_sim/dumps/dump2.json
Files/gen 4 scripts/chunk_sim/dumps/sorted/dump2.json
Files/gen 4 scripts/chunk_sim/debug_stuff.py
